<div id="atf">
	<h1 class="text-white tac title">Glass for All Types<br>of Glass Artists</h1>
</div>
<section class="text-accent">
	<div>
		<h2 class="tac nm">Come take a class with us!</h2>
		<p class="tac">We have the largest offering of glass from which<br> to choose this side of the Chicago area.</p>
	</div>
</section>
<%= image_tag("glass.jpg", :alt => "window") %>
<%= image_tag("atf.jpg", :alt => "beads") %>
<%= image_tag("lamp.jpg", :alt => "lamp") %>
<%= image_tag("face.jpg", :alt => "face") %>


<style>
	section { margin: 10px 0; }
	grid-img { 
		margin: 10px 0;
		width: 100%;
	}
	.text-accent {
		background-color: rgba(236,206,196,0.95);
		padding: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>