<div id="atf">
	<h1 class="text-white">Glass for All Types<br>of Glass Artists</h1>
</div>
<style>
	#atf {
		height: calc(150vh - 55px); 
		display: flex;
		align-items: center;
		justify-content: center;
		background-image: : url(asset_path("atf.jpg")).;
	}
	img { width: 100%; }
	.text-white { color: white; }
</style>