<div id="atf">
	<h1 class="text-white tac title">Glass for All Types<br>of Glass Artists</h1>
</div>
<section class="text-accent">
	<div>
		<h2 class="tac nm">Come take a class with us!</h2>
		<p class="tac">We have the largest offering of glass from which<br> to choose this side of the Chicago area.</p>
		<div class="button"><p class="tac text-white nm">Class Schedule</p></div>
	</div>
</section>
<%= image_tag("glass.jpg", :alt => "window") %>
<%= image_tag("atf.jpg", :alt => "beads") %>
<%= image_tag("lamp.jpg", :alt => "lamp") %>
<%= image_tag("face.jpg", :alt => "face") %>


<style>
	section { margin: 10px 0; }
	img { 
		margin-bottom: 5px;
		width: 100%;
	}
	.button  {
    padding: 15px;
    text-align: center;
    min-width: fit-content;
    width: 165px;
    margin: 0 auto;
    background-color: #b55f3b;
}
	.text-accent {
		background-color: rgba(236,206,196,0.95);
		padding: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>