// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

  .subscript { font-size: 10pt; }
  body { 
    display: flex; 
    align-items: flex-start;
    color: #606060;
    background-color: #efe7e4;
    font-family: 'Varela Round', sans-serif;
  }
  h1, h2, h3, h4, h5 { font-family: 'Playfair Display', serif; }
  nav { 
    height: calc(100vh - 55px);
    width: 20%;
    min-width: fit-content;
    position: fixed; 
    background-color: white;
    padding: 50px;
  }
  
  .tac { text-align: center; }
  .nm { margin: 0; }
  .main-nav {
    margin-bottom: 1.13333rem;
    font-size: 1rem;
    line-height: 1.26667rem;
    letter-spacing: 0.06667rem;
    text-transform: uppercase;
    padding: 25px 0;
}
  ul li { 
    list-style: none; 
    line-height: 2.5;
  }
  ul { padding-left: 0; }
  .sub-nav {
    margin: 50px 0 ;
    font-size: 0.93333rem;
    line-height: 1.13333rem;
    letter-spacing: 0.03333rem;
  }
  a { color: #606060 ; text-decoration: none;}
  .social-icon { 
    max-width: 20px; 
    margin: 10px 10px 10px 0
  }
    .payment-icon { 
    max-width: 40px; 
    margin: 10px 10px 10px 0
  }
  .logo, .title { font-size: 24pt; }
  main { width: 80%;
    margin-left: calc(30% + 10px);
   }
   nav p {     font-size: 0.93333rem;
}

   	#atf {
		height: calc(100vh - 15px);
		width: 100%; 
		display: flex;
		align-items: center;
		justify-content: center;
		background-image: url("/assets/atf-final.jpg");
		background-position: left;
		background-size: cover;

	}
	img { width: 100%; }
	.text-white { color: white; }
	.title { background-color: #b55f3b; padding: 20px;}
